.break-container button{
    border-radius: 50%;
    padding: 7px;
    background-color: skyblue;
    width: 35px;
    height: 35px;
    border: none;
    margin-right: 5px;
}

.break-container button:hover{
    background-color: mediumseagreen;
}